{{ $flagGroups := .FlagGroups }}

<!DOCTYPE html>
<html>
<head>
    <title>Goflag</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>
<header>

</header>
<body>
    <div class="container">
        <div class="navbar">
            <h1>Goflag</h1>
            <p>A lightweight feature flagging application</p>
        </div>
        {{ range $flagGroup := $flagGroups }}
            <div class="flaggroup">
                <span class="flaggroup-btn" onclick="showFlagGroupDropdown({{ $flagGroup.Id }})" >{{ $flagGroup.Name }}</span>
                <div id="flaggroup-dropdown-{{ $flagGroup.Id }}" class="flaggroup-dropdown">
                    <div class="flaggroup-data">
                        <span>ID: {{ $flagGroup.Id }} </span>  
                        <span>Name: {{ $flagGroup.Name }}</span>             
                        <span>Flags:</span>
                        {{ range $flag := $flagGroup.Flags }}
                            <span>{{ $flag.Name }}</span>
                        {{ end}}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</body>
</html>